@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Smooch+Sans:wght@100;200;300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Smooch Sans', sans-serif;
}

body {
  background-color: #2B2D32;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}